html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
}

#loading {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

#loading > h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

#footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 0;
}
